@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  background: rgb(255, 255, 255);
  color: rgb(66, 66, 66);
}

.container {
  margin: 0;
  width: 75vw;
  text-align: center;
  left: 12.5vw;
  /* padding: 54px 0 0 0; */
  top: 100px;
  border-radius: 10px;
  position: relative;
  /* background: rgb(255 255 255 / 95%); */
}

nav {
  z-index: 10;
  position: fixed;
  font-size: 24px;
  font-family: Oswald, sans-serif;
  letter-spacing: 1px;
  padding: 20px;
  width: 100vw;
  background: rgb(51,106,133);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  letter-spacing: 2px;
}

nav a:hover {
  color: white;
  border-bottom: 3px solid;
}

a{
  color: rgb(66, 66, 66);
}

a:hover {
  color: rgb(99,56,54);
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 100px;
  font-family: Montserrat;
}

#mainName {
  -webkit-transition: color 1s;
  transition: color 1s;
}

#mainName:hover {
  color: rgb(99,56,54);
}

#info a {
  font-size: 100px;
  text-decoration: none;
  margin: 40px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
  padding: 1px 16px;
  background-color: rgb(51,106,133);
  color: white;
}

/* Modal Content */
.modal-content {
  overflow-y: hidden;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0px;
  border: 1px solid #888;
  width: 65%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

#modalContent {
  font-family: Cardo, sans-serif;
  padding: 2px 16px;
  max-height: 70vh;
  overflow-y: auto;
  color: black;
}

/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.fab {
  font-size: 100px;
  margin-right: 20px;
}

.bioPic {
  float: left;
  width: 35%;
  padding: 0 5px 0 0;
}

@media screen and (max-width: 630px) {
  #topname {
    font-size: 2.0rem;
  }

  #tybelgium {
    width: 90%;
    margin-bottom: -10px;
  }

  .pageLink {
    font-size: 1.0em;
  }

  .projectsHeader {
    font-size: 1.3em;
  }

  .projectsContainer {
  max-width: 100%;
  display: grid;
  grid-template-columns: 100%;
  border-bottom: 1px dashed #d8d8d8;
  align-items: center;
  padding: 0 15px 0 15px;
  margin-left: auto;
  margin-right: auto;
  }

  .projectLinks {
    margin-bottom: 8px;
    border-bottom: 0.5px solid gray;
    padding-bottom: 8px;
  }

  .header {
    font-size: 1.5em;
    border-radius: 5px;
    padding: 8px;
    margin: 6px 0 6px 0;
    color: white;
}

  .aboutMeText {
    font-size: 0.8em;
  }

  h1 {
    font-size: 1em;
  }

  ul li {
    font-size: 0.8em;
  }

}