html, body {
  height: 100%;
  text-align: center;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: black;
  text-decoration: none;
  transition:all 0.3s ease;
}

.projectlink:hover {
  font-size: 1.1em;
  color: #0487e6;
  transition:all 0.3s ease;
}

img {
  border-radius: 5px;
}

span {
  display: inline-block;
  vertical-align: center;
  line-height: normal;
  color: white;
  font-size: 2em;
}

#topname {
  margin: 0;
  padding: 1.5rem;
  font-size: 3rem;
  font-weight: 1em;
  border-bottom: 1px solid #f2f2f2;
}

.allinfosection {
  margin-left: auto;
  margin-right: auto;
  max-width: 1180px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.container {
  background: white;
}

.topnav {
  background-color: #557A95;
  font-size: 2em;
  height: 2em;
  width: 100%;
  display: inline-block;
  vertical-align: center;
  line-height: 2em;
  margin-bottom: 20px;
}

.grid {
  display:grid;
  justify-content: center;
  grid-template-columns: 500px 500px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.rowbanner {
  border: 1px solid #f2f2f2;
  border-radius: 7px;
  justify-content:center;
  height:10em;
  line-height: 10em;
  text-align: center;
  transition:all 0.3s ease;
}

.rowbanner:hover {
  border: none;
  border-radius: 7px;
  transition:all 0.3s ease;
}

.rowbanner:hover a {
  color: white;
  font-size: 1.2em;
  transition:all 0.3s ease;
}

.aboutme:hover {
  background-color: #0487e6;
  opacity: 1;
  transition:all 0.3s ease;
}

.resume:hover {
  background-color: #ff0000;
  opacity: 1;
  transition:all 0.3s ease;
}

.projects:hover {
  background-color: #00bb00;
  opacity: 1;
  transition:all 0.3s ease;
}

.linkedin:hover {
  background-color: #8000ff;
  opacity: 1;
  transition:all 0.3s ease;

}

.footer {
  bottom: 0;
  width: 100%;
  background-color: #fafafa;
  border-top: 1px solid #f2f2f2;
  color: #919191;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 10px;
  font-size: 95%;
}

.firstletter {
  color: black;
  font-size: 70px;
  line-height: 70px;
}

